body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f4f4f4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
button {
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #6a5acd, #7fffd4);
  color: white;
  font-size: 26px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: linear-gradient(135deg, #5a4dbc, #6effd4);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 50px;
  height: 50px;
  background-image: url("kill.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  cursor: pointer;
}
